[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
tensorflow = "*"
cython = "*"
pycocotools = {subdirectory = "PythonAPI", git = "https://github.com/philferriere/cocoapi.git"}
numpy = "~=1.17"

[dev-packages]

[requires]
python_version = "3"
